.login-screen {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 6rem;
}
.homepage-text {
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: #bfc3c1;
    line-height: 1.1;
}
.gradient {
    background: linear-gradient(90deg, #7980f3, #ff6f61); /* Gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Makes text color transparent so background shows through */
    background-clip: text;
    color: transparent;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}
.text-animate {
    animation: fadeIn 0.8s ease-in-out;
}
.cursor {
    color: transparent;
    margin-left: 2px;
    width: 2px;
    animation: blink 2s step-end infinite;
}

@keyframes blink {
    from,
    to {
        background-color: rgb(204, 204, 204);
    }
    50% {
        background-color: transparent;
    }
}
.big {
    font-size: medium;
}
.bgdark {
    background-color: rgb(23, 23, 23);
    padding-top: 100px;
}
.footer {
    color: #bfc3c1;
    font-size: small;
    padding-top: 5px;
    margin-bottom: 7px;
    border-top: 1px solid #5c5c5c;
}

.hidden-div {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.blu-col {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    color: rgb(41, 151, 255);
}
.fade-in {
    opacity: 1;
    transform: translateY(0px);
}

.infox {
    display: flex;
    justify-content: center;
    max-height: 400px;
    width: 100%;
}
.vdo-cont {
    overflow: hidden;
    display: block;
    border-radius: 10px;
}
.responsive-image {
    max-height: 400px;
    max-width: 100%;
    width: auto;
    border-radius: 10px;
    /* Ensures the image fits within the container */
}
